@font-face {
    font-family: MortalKombat1Font;
    src: url(../assets/fonts/mortalkombat1.ttf);
}

@font-face {
    font-family: PixelOperatorFont;
    src: url(../assets/fonts/PixelOperator.ttf);
}