:root {
    --quiz-primary-bg: #FA7B1C;
    --question-primary-bg: #771FA7;
    --question-wrong-bg: #EF1A5A;
    --question-correct-bg: #41D57C;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quiz-title {
    font-size: 2rem;
    font-family: 'MortalKombat1Font', monospace;
    color: white;
    text-transform: uppercase;
    background: var(--quiz-primary-bg);
    padding: 5px 15px;
    border: 3px solid black;
}

.options-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 80%;
    align-self: center;
}

.question-number {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

.question-text {
    font-size: 2rem;
    background: var(--quiz-primary-bg);
    padding: 5px 15px;
    border: 3px solid black;
}

.option {
    font-size: 2rem;
    background: var(--question-primary-bg);
    padding: 5px 10px;
    width: 100%;
    font-family: "MortalKombat1Font", monospace;
    color: white;
    border: 3px solid black;
    transition: .15s ease;
    cursor: pointer;
}

.option.wrong {
    background: var(--question-wrong-bg);
}

.option.correct {
    background: var(--question-correct-bg);
}

.option:hover {
    transform: scale(1.05);
}

.quiz-footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-family: "MortalKombat1Font", monospace;
    color: white;
    text-align: center;
}
